In [1]:
import numpy as np
import pandas as pd

from datetime import datetime, timedelta, time

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_excel("ABSEN.xlsx")
df = df.drop("NO", axis=1)
df.head()

,NAMA,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
0,Abda Wijaya,08:13:32,NaN,07:32:33 - 22:57:36,07:21:20 - 17:57:19,07:50:33 - 17:58:20,07:29:23 - 18:02:32,07:22:06 - 17:14:51,07:15:34 - 17:43:35,NaN,07:25:57 - 17:47:26,07:32:21 - 18:54:35,07:26:06 - 17:25:20,07:24:23 - 17:26:14,07:31:34 - 17:42:57,07:25:14 - 17:29:06,NaN,07:30:51 - 17:21:20,07:39:47 - 21:09:59,NaN,07:25:24 - 17:52:35,07:27:09 - 18:11:08,07:51:23 - 19:15:23,NaN,07:18:25 - 18:19:50,07:19:34,07:31:56,07:25:59 - 17:06:20,07:30:14 - 17:36:05,07:15:35 - 18:04:29,NaN,07:22:46 - 17:22:38 - 17:22:38 - 17:24:26
1,Abdullah Ramadhan Alkadrie,NaN,09:12:56 - 22:21:15,06:07:39 - 20:16:14,06:22:08 - 20:11:38,07:27:10 - 19:04:57,06:31:17 - 20:23:01,06:05:48 - 19:14:17,NaN,NaN,07:39:08 - 20:13:21,06:10:20 - 20:37:18,06:53:01 - 21:37:39,07:23:57 - 20:57:20,07:41:13 - 20:00:56,NaN,NaN,NaN,NaN,NaN,07:28:51 - 20:04:02,07:31:57 - 20:07:11,NaN,NaN,06:37:49 - 20:11:58,06:03:53 - 20:03:39,06:10:22 - 20:02:51,07:35:54 - 20:47:16,07:17:18 - 20:03:24,NaN,NaN,06:02:46 - 19:34:58
2,Abdurrahman Billy Sanjaya,16:25:45,00:00:11 - 08:32:00 - 14:53:48,NaN,00:05:02 - 21:02:00,08:55:53 - 17:30:05,15:55:16,00:00:18 - 15:52:03,00:07:13 - 08:09:04 - 19:05:58,08:10:52 - 22:11:12,00:03:32 - 22:13:47,08:03:05 - 19:15:57,15:58:38 - 23:54:23,07:55:22 - 17:17:17,00:07:00 - 20:02:34,08:10:48 - 16:26:21,NaN,07:35:32 - 17:32:10,NaN,NaN,09:11:30 - 17:31:31,09:33:50 - 17:53:52,09:42:37 - 17:26:13,NaN,10:07:35 - 22:27:37,09:50:31 - 22:14:31,09:21:39 - 16:10:03,08:46:13 - 16:13:28,09:25:54 - 16:00:41,09:36:38 - 23:54:03,NaN,09:02:05
3,Abinubli Zaky Madroni Siregar,10:30:56 - 17:32:41,06:48:30 - 17:42:31,11:01:50 - 11:01:59 - 17:47:45,10:23:16 - 17:30:43,06:21:14 - 14:04:19 - 14:04:46 - 14:04:51,10:50:20 - 19:18:11,06:28:41 - 13:20:35 - 13:44:45,NaN,11:01:52 - 17:36:24,06:13:06 - 14:02:35,06:01:21 - 19:23:18,11:00:52 - 17:31:29,NaN,10:28:09 - 17:31:15,06:22:36 - 14:02:59,11:01:14 - 20:18:50,06:07:12 - 14:12:41,06:29:25 - 14:29:32,NaN,10:24:36 - 17:31:06,06:04:40 - 14:02:41,NaN,06:11:59 - 17:33:44,06:35:46 - 14:23:59,11:10:24 - 19:37:05,NaN,11:25:31 - 20:27:16,11:26:08 - 20:10:57,11:26:56 - 17:31:15,06:21:37 - 21:44:36,11:18:38 - 17:19:23
4,Abraham Binsar Hutama,NaN,NaN,07:31:45 - 19:59:47,07:45:50 - 19:44:49,07:43:29 - 19:00:00,07:34:32 - 20:08:37,07:31:53 - 20:17:41,09:30:14,NaN,07:28:31 - 23:17:08,06:46:59 - 22:09:15,07:54:53 - 18:31:40,07:34:34 - 19:35:57,07:24:59 - 22:27:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07:33:48 - 18:49:02,07:32:44 - 19:49:20,07:02:31 - 21:47:43,NaN,07:47:28 - 21:42:28,NaN,NaN,07:32:17

In [3]:
for col in df.columns[1:]:
    df[col] = df[col].apply(
        lambda x: 
        np.nan if pd.isnull(x) or isinstance(x, time) and not ('-' in str(x)) else 
        ' - '.join([str(x).split(' - ')[0], str(x).split(' - ')[-1]]) 
        if len(str(x).split(' - ')) != 2 else str(x)
    )

df.head()

,NAMA,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
0,Abda Wijaya,NaN,NaN,07:32:33 - 22:57:36,07:21:20 - 17:57:19,07:50:33 - 17:58:20,07:29:23 - 18:02:32,07:22:06 - 17:14:51,07:15:34 - 17:43:35,NaN,07:25:57 - 17:47:26,07:32:21 - 18:54:35,07:26:06 - 17:25:20,07:24:23 - 17:26:14,07:31:34 - 17:42:57,07:25:14 - 17:29:06,NaN,07:30:51 - 17:21:20,07:39:47 - 21:09:59,NaN,07:25:24 - 17:52:35,07:27:09 - 18:11:08,07:51:23 - 19:15:23,NaN,07:18:25 - 18:19:50,NaN,NaN,07:25:59 - 17:06:20,07:30:14 - 17:36:05,07:15:35 - 18:04:29,NaN,07:22:46 - 17:24:26
1,Abdullah Ramadhan Alkadrie,NaN,09:12:56 - 22:21:15,06:07:39 - 20:16:14,06:22:08 - 20:11:38,07:27:10 - 19:04:57,06:31:17 - 20:23:01,06:05:48 - 19:14:17,NaN,NaN,07:39:08 - 20:13:21,06:10:20 - 20:37:18,06:53:01 - 21:37:39,07:23:57 - 20:57:20,07:41:13 - 20:00:56,NaN,NaN,NaN,NaN,NaN,07:28:51 - 20:04:02,07:31:57 - 20:07:11,NaN,NaN,06:37:49 - 20:11:58,06:03:53 - 20:03:39,06:10:22 - 20:02:51,07:35:54 - 20:47:16,07:17:18 - 20:03:24,NaN,NaN,06:02:46 - 19:34:58
2,Abdurrahman Billy Sanjaya,NaN,00:00:11 - 14:53:48,NaN,00:05:02 - 21:02:00,08:55:53 - 17:30:05,NaN,00:00:18 - 15:52:03,00:07:13 - 19:05:58,08:10:52 - 22:11:12,00:03:32 - 22:13:47,08:03:05 - 19:15:57,15:58:38 - 23:54:23,07:55:22 - 17:17:17,00:07:00 - 20:02:34,08:10:48 - 16:26:21,NaN,07:35:32 - 17:32:10,NaN,NaN,09:11:30 - 17:31:31,09:33:50 - 17:53:52,09:42:37 - 17:26:13,NaN,10:07:35 - 22:27:37,09:50:31 - 22:14:31,09:21:39 - 16:10:03,08:46:13 - 16:13:28,09:25:54 - 16:00:41,09:36:38 - 23:54:03,NaN,NaN
3,Abinubli Zaky Madroni Siregar,10:30:56 - 17:32:41,06:48:30 - 17:42:31,11:01:50 - 17:47:45,10:23:16 - 17:30:43,06:21:14 - 14:04:51,10:50:20 - 19:18:11,06:28:41 - 13:44:45,NaN,11:01:52 - 17:36:24,06:13:06 - 14:02:35,06:01:21 - 19:23:18,11:00:52 - 17:31:29,NaN,10:28:09 - 17:31:15,06:22:36 - 14:02:59,11:01:14 - 20:18:50,06:07:12 - 14:12:41,06:29:25 - 14:29:32,NaN,10:24:36 - 17:31:06,06:04:40 - 14:02:41,NaN,06:11:59 - 17:33:44,06:35:46 - 14:23:59,11:10:24 - 19:37:05,NaN,11:25:31 - 20:27:16,11:26:08 - 20:10:57,11:26:56 - 17:31:15,06:21:37 - 21:44:36,11:18:38 - 17:19:23
4,Abraham Binsar Hutama,NaN,NaN,07:31:45 - 19:59:47,07:45:50 - 19:44:49,07:43:29 - 19:00:00,07:34:32 - 20:08:37,07:31:53 - 20:17:41,NaN,NaN,07:28:31 - 23:17:08,06:46:59 - 22:09:15,07:54:53 - 18:31:40,07:34:34 - 19:35:57,07:24:59 - 22:27:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07:33:48 - 18:49:02,07:32:44 - 19:49:20,07:02:31 - 21:47:43,NaN,07:47:28 - 21:42:28,NaN,NaN,NaN

In [4]:
def calculate_overtime(time_str, is_day_off=False):
    # If NaN or None
    if not time_str or pd.isnull(time_str):
        return 0

    # Split start and end times
    start_str, end_str = time_str.split(' - ')
    start_time = datetime.strptime(start_str, "%H:%M:%S").time()
    end_time = datetime.strptime(end_str, "%H:%M:%S").time()

    # Regular workday rules
    if not is_day_off:
        # Adjust start time if before 07:30
        if start_time < datetime.strptime("07:30:00", "%H:%M:%S").time():
            start_time = datetime.strptime("07:30:00", "%H:%M:%S").time()

        # Calculate lateness in starting
        late_minutes = max(0, (datetime.combine(datetime.today(), start_time) - datetime.combine(datetime.today(), datetime.strptime("07:30:00", "%H:%M:%S").time())).seconds / 60)

        # Calculate adjusted end time by adding late_minutes to 17:00
        actual_end_time = (datetime.combine(datetime.today(), datetime.strptime("17:00:00", "%H:%M:%S").time()) + timedelta(minutes=late_minutes)).time()

        # Calculate overtime
        if end_time > actual_end_time:
            overtime_minutes = (datetime.combine(datetime.today(), end_time) - datetime.combine(datetime.today(), actual_end_time)).seconds / 60
            overtime_hours = max(0, overtime_minutes // 60)
        else:
            overtime_hours = 0

        # Cap at 3 hours
        return min(3, overtime_hours)

    # Day off rules
    else:
        # Adjust start time if before 09:00
        if start_time < datetime.strptime("09:00:00", "%H:%M:%S").time():
            start_time = datetime.strptime("09:00:00", "%H:%M:%S").time()

        # Cap end time at 20:00
        if end_time > datetime.strptime("20:00:00", "%H:%M:%S").time():
            end_time = datetime.strptime("20:00:00", "%H:%M:%S").time()

        # Calculate overtime
        overtime_minutes = (datetime.combine(datetime.today(), end_time) - datetime.combine(datetime.today(), start_time)).seconds / 60
        overtime_hours = max(0, overtime_minutes // 60)

        # Cap at 8 hours
        return min(8, overtime_hours)

# Sample usage
days_off_columns = [1, 2, 8, 9, 15, 16, 19, 22, 23, 29, 30]

# Create a new DataFrame to store overtime values
overtime_df = df.copy()
overtime_df.iloc[:, 1:] = 0  # Initialize overtime values to zero

for col in df.columns[1:]:
    overtime_df[col] = df[col].apply(lambda x: calculate_overtime(x, int(col) in days_off_columns))

In [5]:
overtime_df.head()

,NAMA,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
0,Abda Wijaya,0.0,0.0,3.0,0.0,0.0,1.0,0.0,8.0,0.0,0.0,1.0,0.0,0.0,0.0,8.0,0.0,0.0,3.0,0.0,0.0,1.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0
1,Abdullah Ramadhan Alkadrie,0.0,8.0,3.0,3.0,2.0,3.0,2.0,0.0,0.0,3.0,3.0,3.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,3.0,3.0,3.0,3.0,3.0,0.0,0.0,2.0
2,Abdurrahman Billy Sanjaya,0.0,5.0,0.0,3.0,0.0,0.0,0.0,8.0,8.0,3.0,1.0,3.0,0.0,3.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,2.0,2.0,0.0,0.0,0.0,8.0,0.0,0.0
3,Abinubli Zaky Madroni Siregar,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,0.0,5.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,6.0,8.0,0.0
4,Abraham Binsar Hutama,0.0,0.0,2.0,2.0,1.0,3.0,3.0,0.0,0.0,3.0,3.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,3.0,0.0,0.0,0.0